<nav class="">
  <div class='nav-left'>
    <div class="nav-logo-container">
      <div class="nav-logo">
      </div>      
      <div class="logo-name">
        Pledge Up
      </div>
    </div>
    <ul class="list-unstyled">
      <li><a href="">About</a></li>
      <li><a href="">Resources</a></li>      
      <li><a href="">Faq</a></li>      
    </ul>
  </div>
  <div class='nav-right'>
    <div class="pledge-count h1">
      199999
    </div>
    <div class="pledge-count-description">
      people pledged
    </div>
  </div>

</nav>

<div class="jumbotron text-center page">
  <div class="container">
    <h1>Empowering headline goes to second line</h1>
    <p>Based on policy proposals from his campaign, President-Elect Trump and the Republican Congress intend to cut taxes while his other stated policy preferences indicate that many of our communities are likely to face increased social, legal and economic insecurity, putting our safety and resilience at risk.
    </p>
    <p>
Join #PledgeUp. Consider this our insurance policy for America’s communities likely to be hardest-hit by President-Elect Trump’s policy agenda over the next four years.</p>
    <a type="button" class="btn btn-lg btn-default" href="">Pledge Up</a>
    <a type="button" class="btn btn-lg btn-primary" href="">What's your tax impact</a>
  </div>
</div>
<div class="page text-center bg-white">
  <div class="container">
    <h1>#PledgeUp for America</h1>
    <h3>Help communities in America likely to be impacted over the next 4 years.</h3>
    <h3>How does the pledge work?</h3>
    <div id="pledge-form">
      <div id="pledge-container">
        <div class="pledge-line h2">
          I, <input type="text" class="h3" id="name" ></input>
        </div>
        <div class="pledge-line h1">
          Pledge Up For
        </div>
        <div class="pledge-line">
          <select multiple id="causes" name="causes">
          <% Cause.all.each do |cause| %>
            <option value="<%= cause.id %>"><%= cause.name %></option>          
          <% end %>
          </select>                                          
        </div>
      </div>
      <h3>Sign your pledge with your email (we promise not to spam you)</h3>
      <input type="email" class="h3" id="email"></div>
      <div class="btn btn-lg btn-secondary" href="">Submit My Pledge</div>      
    <p>
  </div>
</div>

<div class="page text-white">
  <div class="container">
    <h1>ABOUT us</h1>
    <h3>We are a committed group of Americans</h3>
    <p>
    who believe the American Dream is for everyone who lives in our country. We all benefit each day a family in America gets closer to their Dream.
    </p>
    <h3>We believe in the resilience of all American communities.</h3>
  <p> However, not all have access to critical support structures. Our most vulnerable communities are strengthened by both governmental and private support; these help build a foundation to attain the American Dream for their families.
  </p>
    <h3>We believe that some of America’s most vulnerable communities are likely to become increasingly marginalized</h3>
    <p>over the next four years, while many of us in more secure circumstances reap a windfall from the President-Elect’s proposed tax cuts (based on the President- Elect’s campaign promises to date). Supporting the resilience of these communities is the focus of our effort.
    </p>
    <h3>We believe the economic growth impact of tax cuts on the highest earning Americans is unproven.</h3>
    <p>Though there might be a short-term increase in consumption and investment, evidence suggests the tax cuts proposed by President-Elect Trump will likely increase income equality and increase our federal deficit over the long-term. When combined with the stated policy agenda of the President-Elect and America’s experience over the past 40 years, these tax cuts will likely result in cuts to services for politically underrepresented and vulnerable communities.
    </p>
    <h3>We believe collective action will galvanize support for these communities at a time when they need it most</h3>
    <p>and the #<hashpledge> will offer an avenue for all who pay American taxes to direct their resources and energies to the communities and causes they care most about.</p>
    <h3>We believe America has been built on a strong tradition of social investment and activism.</h3>
    <p>The moment is now to enlist and energize new investors in these important causes for these important communities.</p>
    
    
  </div>
</div>

<script>
$( document ).ready(function() {
$('#causes').chosen({width:'90%',max_selected_options: 3});
});
</script>