$brand-primary: #2d3146;
$brand-secondary:#ffb000;
$brand-language: #B01302;

input,
select{
  color:#000;
}

input{
  background:none;
  border:none;
  border-bottom:3px dashed #fff;
  outline:none;
}

.page{
   height:100vh;
    background:$brand-primary;
}

.bg-white{
  background:#fff;
}

.text-white{
  color:#fff;
}

.jumbotron {
  background: asset-url('hero-bg-fpo.jpg');
  color: white;
  padding:0;
  margin:0;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
  }

  p {
    color: #fff;
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

}

.btn-lg{
  height:75px;
  border-radius: 38px;
  
}

.nav-left{
  position:fixed;
  left:10px;
}

.nav-right{
  position:fixed;
  right:10px;
}

footer{
  height:300px;
  background:#2d3146;
}

#pledge-container{
  background: $brand-secondary;
  height:400px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
}

.causes{
  width:100px;
}